<html lang="en">
<head>
<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>FudgeC2</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon-32x32.gif') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='core-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
    <script src="{{ url_for('static', filename='fudgec2.js') }}" defer></script>
</head>
<body>
{%  block NavbarBlock %}{% endblock %}
</body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" ></script>
</html>