{% extends "BaseNavbar.html" %}
{% block main %}
<div class="row m-0">
    <div class="col-md-2 m-0 p-2">
        <div class="p-3 m-0 rounded iplm ">
            Help Overview
        </div>
    </div>
    <div class="col-md-10 m-0 p-2">
        <div class="p-5 m-0 rounded iplm  ">
            <h1>FudgeC2 Documentation</h1>
            <p class="text-warning font-weight-bold">The documentation on this page will likely be removed in 0.5.5 in favour of a reference page - Full docs can be found on the  <a href="https://github.com/Ziconius/FudgeC2/wiki" target="_blank">Github wiki page</a></p>
            <h3>Configuration</h3>
            <h4>User Account</h4>
            <h5>Add user</h5>
            <p>Adding a new user account can be done by any admin in the global settings, found here:
                <a href="/settings">/settings</a>   </p>

            <h5>Configure campaign users</h5>
            <p>Each campaign contains its own set of user permissions which control user interaction. User can have read-only or read/write permissions allowing them to send commands to active implants. These settings can be found within the campaign settings, under <code>/[campaign id]/settings</code> </p>
            <h5>Password Reset</h5>
            <p>Resetting a users password can be achieve in the global settings. This will generated a one-time password, which the user will change on first logon. (Not yet implemented)<br>
                <a href="/settings">/settings</a>   </p>
            <br>


            <h2>Implant commands</h2>
            <p>Active implants have a number of builtin commands designed to perform common actions, such as harvestings host information. These built in commands are invoked by pre-fixing <code>::</code> to the required command. If no pre-fix is used the implant will try to execute anything else using Powershell.<br>
            </p>

            <table class="table table-striped table-bordered table-sm results table-hover" cellspacing="1" width="100%">
                <thead><tr><th scope="col">Command</th><th scope="col">Description</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>
                        <code>:: sys_info</code>
                    </td>
                    <td>
                        Collects username, hostname, domain, and local IP
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>:: enable_persistence</code>
                    </td>
                    <td>
                        Enables persistence by embedding a stager payload into the following autorun register key:<br>
                        <pre class="font-weight-bold">HKCU:\Software\Microsoft\Windows\CurrentVersion\Run\</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>:: export_clipboard</code>
                    </td>
                    <td>
                        Attempts to collect any text data stored in the users clipboard.
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>:: load_module [target script]</code>
                    </td>
                    <td>
                        This will load external powershell modules, such as J.A.W.S, or PowerUp.
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>:: exec_module [loaded module name]</code>
                    </td>
                    <td>
                        Downloads a file from the infected host. Downloads wil be placed in the directory set in the settings file.
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>:: list_modules</code>
                    </td>
                    <td>
                        Lists all loaded modules by the implant.
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>:: download_file [[ path ] target ]</code>
                    </td>
                    <td>
                        Downloads a file from the infected host. Downloads wil be placed in the directory set in the settings file.
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>:: upload_file [local filename] [[path] filename ] </code>
                    </td>
                    <td>
                        Uploads a target file to the supplied directory. All target upload files should be placed in:<br>
                        <span class="font-weight-bold">{installation dir}/FudgeC2/Storage/implant_resources/</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>:: play_audio [target audio file]</code>
                    </td>
                    <td>
                        This plays audio on the target host, assuming the target has an audio device. Simply for PoC demonstrations. It should be noted that this will create a temp file on the host.
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <code class="text-secondary">:: screenshot</code>
                    </td>
                    <td>
                        IN DEV: This will look to capture the users desktop and will exfiltrate the image.
                    </td>
                </tr>
                </tbody>
            </table>

            <br>
<hr>
            <h4>Listeners</h4>
            <p>
                Listeners are the mechanisms by which active implants and the FudgeC2 server communicate, sending commands and responses between them. Configuring listeners requires admin privileges.</p>

            <p class="text-danger">Caution: When stopping a listener it will impact all implants using the FudgeC2 server, not just those from your own campaign. Communicate to your wider teams.</p>

            <p>When configuring new implants you can configure them to run over a variety of protocols. Each of these protocols have an associated listener which will need to be created.</p>

            <p>Once a listener has been set up for a given protocol and port it does not need to be done against for a separate campaign. All campaign which used an identical implant configuration will use this listener.</p>

            <p>Common examples of shared listeners are HTTP on port 80, or HTTPS on port 443. Once a listener has been set up, all implant, for all campaign can use it (and once stopped, it will stop for all).</p>
            <p>When creating listeners you have the option to auto-start a listener, this will enable the listener upon creation.</p>
            <p>Listeners can be configured here:<br>
            <a href="/listener">/listeners</a></p>

            <div>
                <h4>Implants</h4>
                <p>Implants are categorised into two types, implant templates, and active implants. Implant templates are a unique base configuration for implants, while active implants are generated upon a stager calling back.</p>



                <h5>Implant templates</h5>
                <p>An implant template is used to create a base configuration - Once a new implant template is created you can find it's unique stager inside the campaign stagers page.</p>
                <p>Every time a stager is triggered it will callback to the C2 Server and a new active implant will be generated based on the implant templates configuration.</p>

                <h5> Active implants</h5>
                <p>Active implants are the result of a stager successfully calling home to the C2 server. Once an implant has been activated it will show up inside the main campaign page, allowing users with write permissions to register commands to be executed.</p>
                <p>If a stager is triggered twice two different active implants will be generated - while they will similar properties (such as callback domain/IP, and comms channels) if they have any form of obfuscation enabled the implant generator will create uniquely obfuscated implants.</p>
                <p>Active implants will be named according to their implant name, and will have a 6 digit number appended for uniqueness.</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}