{% extends "BaseNavbar.html" %}
{% block main %}
<style>


</style>
<div class="row no-gutters h-100">
    <div class="col-md-2">
        <div class="iplm h-100 mr-4">
            <div class="side_button" id="sidebar_main"><a href="/{{ cid }}">{{ campaign }}</a></div>
            <div class="side_button" id="sidebar_create_implant"><a href="/{{ cid }}/implant/create">Create Implant</a></div>
            <div class="side_button" id="sidebar_implant_stagers"><a href="/{{ cid }}/implant/stagers">Stagers</a></div>
            <div class="side_button" id="sidebar_active_implants"><a href="/{{ cid }}/implant/active">Active Implant Details</a></div>
            <div class="side_button" id="sidebar_logs"><a href="/{{ cid }}/logs">Implant Logs</a></div>
            <div class="side_button" id="sidebar_settings"><a href="/{{ cid }}/settings">Campaign Settings</a></div>
            <div class="side_button"><a href="javascript:export_campaign({{ cid }})">Export Campaign</a></div>

        </div>
    </div>
    <div class="page_scroll col-md-10 col-sm-7 col-lg-10 pb-4 m-0">
        <div class="p-4 pt-1 iplm w-100 mw-100">
            {% if Msg %}
                <div class="text-danger font-weight-bold">{{ Msg }}</div>
            {% endif %}
                {%  block main2 %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- Export campaign modal-->
<div class="modal fade" id="FormSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="FormSubmissionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FormModalTitle">Download encrypted campaign data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-result">aaa</div>
          The password to decrypt the campaign data is:
        <div id="modal-password"></div>
      </div>
      <div class="modal-footer">
          <form name="download" action="/1/export_campaign" method="get" >
              <input hidden id="filename_input" type="text" name="download" value="">
              <button type="submit" class="btn" >Download</button>
          </form>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End export modal-->
{% endblock %}