{% extends "ImplantMain.html" %}
{% block main2 %}
<!-- TODO: Refactor and improve performance and readability -->
<div class="row p-0">
    <div class="col-md">

        Execute: COMMAND BOX
        Select Implant:
        Filters:
        Only show selected implant information.(JS)
        <hr>
        <!-- action="/{{ cid }}/implant/register_cmd" -->
        <form action="/{{ cid }}/implant/register_cmd" method="POST" role="form" class="form-horizontal" id="AnswerForm">
        <!--<fieldset>-->
        <!--<legend>Command Input</legend>-->
            <!--&lt;!&ndash;<label for="comment">Implant Command:</label>&ndash;&gt;-->


<!-- TODO: insert Implants into selectable. -->
            <div class="form-group">
              <label for="sel1">Select Implant:</label>
              <select class="form-control" id="sel1" name="ImplantSelect">
                  {% if Implants %}
                  <option name="a" id="b">ALL</option>
                  {% for imp in Implants %}
                        <option name="{{ imp.unique_implant_id }}" id="{{ imp.unique_implant_id }}">{{ imp.generated_title }}</option>
                  {% endfor %}
                  {% endif %}
              </select>
            </div>

            <div class="form-group" >
                <label class="control-label">Implant Command:</label>
                <input onfocus="this.placeholder=''" type="text" name="cmd" class="form-control" id="implantCmd" placeholder="cmd">
            </div>
        </fieldset>
            <button type="submit" class="btn btn-default" id="AnswerBtn">Submit</button>
    </form>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                State
                <div class="overflow-auto" id="ImplantStatusValues"></div>
            </div>
            <div class="col-md-12 overflow-auto">
                Queue
                <div class="overflow-auto" id="awaiting">
                    No awaiting commands
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div id="Response"></div>
        main
    </div>
</div>
<script src="{{ url_for('static', filename='ImplantController.js') }}"></script>
<script>
implant_page_controller({{cid}})
console.log({{cid}})
</script>
{% endblock %}

