{% extends "ImplantMain.html" %}
{% block main2 %}
<div class="m-0 p-3">
    <h4>Existing Implants & Stagers</h4>

    {% if implantList %}
        {% for implant in implantList %}
        <p>
            <span class="font-weight-bold">Name:</span> {{ implant }}<br>
            <span class="font-weight-bold">Description:</span> {{ implantList[implant].description  }}<br>
            <span class="font-weight-bold">URL:</span> {{ implantList[implant].url }}<br>
            <span class="font-weight-bold">Kill Date:</span> {{ implantList[implant].kill_date }}<br>
            <span class="font-weight-bold">Encryption:</span> {% if implantList[implant].encryption|length >= 1 %} Yes {% else %} No {% endif %}<br>
            {% if implantList[implant].operating_hours %}
            <span class="font-weight-bold">Operating hours: </span><br>
            <span class="ml-3">Start: {{ implantList[implant].operating_hours.oh_start }}</span><br>
            <span class="ml-3">Stop:  {{ implantList[implant].operating_hours.oh_stop }}</span><br>
            {% endif %}
        </p>
        <p class="font-weight-bold text-success" >Powershell stager</p>
            {% for x in implantList[implant].powershell_stager %}
                <div id="{{ implantList[implant].stager_key }}-ps1" class="">
                    <button onclick="CopyToClipboard('{{ implantList[implant].stager_key }}_ps_{{ loop.index }}')" type="button" class="btn btn-dark">Copy Payload</button><br><br>
                    <div class="bg-dark p-2">
                    <code class="font-weight-normal" id="{{ implantList[implant].stager_key }}_ps_{{ loop.index }}">{{ x }}</code>
                    </div>
                </div>
                <br>
            {% endfor %}

        <p class="font-weight-bold text-success" >Docm stager</p>
            {% for y in implantList[implant].docm_macro_stager %}
                <div id="{{ implantList[implant].stager_key }}-docm" class="">
                    <button onclick="CopyToClipboard('{{ implantList[implant].stager_key }}_docm_{{ loop.index }}')" type="button" class="btn btn-dark">Copy Payload</button><br><br>

                    <div class="bg-dark p-2">
                        <pre class="font-weight-normal text-success" id="{{ implantList[implant].stager_key }}_docm_{{ loop.index }}">{{ y | replace('\n\n', '\n') | safe}}</pre>
                    </div>
                </div>
                <br>
            {% endfor %}
        <hr>
        {% endfor %}

    {% else %}
        <p>There are no implant associated with this campaign yet.</p>
    {% endif %}


    <script>
        document.getElementById("sidebar_implant_stagers").classList.add('side_bar_active')
        function CopyToClipboard(containerid) {
          if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select().createTextRange();
            document.execCommand("copy");

          } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
            document.execCommand("copy");
          }
        }

    </script>

</div>
{% endblock %}

