{% extends "ImplantMain.html" %}
{% block main2 %}
<div class="m-0 p-3">
    <h4>Existing Implants & Stagers</h4>
    {% if implantList %}
        {% for implant in implantList %}
        <p>
            <span class="font-weight-bold">Name:</span> {{ implant }}<br>
            <span class="font-weight-bold">Description:</span> {{ implantList[implant].description  }}<br>
            <span class="font-weight-bold">URL:</span> {{ implantList[implant].url }}
        </p>
        <p class="text-secondary">Click to show stager</p>
        <div>

            <div data-toggle="collapse" data-target="#{{ implantList[implant].stager_key }}-ps1" class="text-success font-weight-bold"> Powershell </div>
            <div id="{{ implantList[implant].stager_key }}-ps1" class="">
                <button onclick="copy_stager('{{ implantList[implant].stager_key }}_ps1_code')" type="button" class="btn btn-dark">Copy Payload</button><br>
                <br>
                <div class="bg-dark p-2">
                <code class="font-weight-normal" id="{{ implantList[implant].stager_key }}_ps1_code">{{ implantList[implant].powershell_stager }}</code>
                </div>
            </div>
            <br>
            <div data-toggle="collapse" data-target="#{{ implantList[implant].stager_key }}-docm" class="text-success font-weight-bold"> Docm Macro </div>
            <div id="{{ implantList[implant].stager_key }}-docm" class="">
                <button onclick="copy_stager('{{ implantList[implant].stager_key }}_docm_code')" type="button" class="btn btn-dark">Copy Payload</button><br>
                <br>
                <div class="bg-dark p-2">
                    <pre class="font-weight-normal text-success" id="{{ implantList[implant].stager_key }}_docm_code">{{ implantList[implant].docm_macro_stager }}</pre>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    {% else %}
        <p>There are no implant associated with this campaign yet.</p>
    {% endif %}

    <script>
        function copy_stager(element) {
            var stager_text = document.getElementById(element).innerHTML;
            var dummy = $('<input style="white-space: pre-wrap;">').val(stager_text).appendTo('body').select()
            document.execCommand('copy')
        }
    </script>

</div>
{% endblock %}

