{% extends "ImplantMain.html" %}
{% block main2 %}
<!-- TODO: Refactor and improve performance and readability -->
<div class="row p-0">
    <div class="col-md">
        <form action="/{{ cid }}/implant/register_cmd" method="POST" role="form" class="form-horizontal" id="AnswerForm">
        <!-- TODO: insert Implants into selectable. -->
            <div class="form-group">
              <label for="sel1">Select Implant:</label>
              <select class="form-control" id="sel1" name="ImplantSelect">
                  {% if Implants %}
                  <option name="a" id="b">ALL</option>
                  {% for imp in Implants %}
                        <option name="{{ imp.unique_implant_id }}" id="{{ imp.unique_implant_id }}" class="text-success">{{ imp.generated_title }}</option>
                  {% endfor %}
                  {% endif %}
              </select>
            </div>

            <div class="form-group" >
                <label class="control-label">Implant Command:</label>
                <input onfocus="this.placeholder=''" type="text" name="cmd" class="form-control" id="implantCmd" placeholder="cmd">
            </div>

            <button type="submit" class="btn btn-secondary" id="AnswerBtn">Submit</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <h6>Implant state</h6>
                <div class="overflow-auto" id="ImplantStatusValues"></div>
            </div>
            <div class="col-md-12 overflow-auto">
                <h6>Queued commands</h6>

                <div class="overflow-auto" id="awaiting">
                    <table class="table table-striped table-borderless table-sm results table-hover" cellspacing="0" width="100%">
                    <tbody id="await_commands_tbl" class="m-5">

                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div><h6>Command results:</h6></div>
        <div id="Response"></div>
    </div>
</div>

<div class="modal fade" id="screenshot-modal" tabindex="-1" role="dialog" aria-labelledby="screenshot-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-body" >
            <img src="" id="model-image" style="width:100%;max-width:100%">
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='ImplantController.js') }}"></script>
<script>
    implant_page_controller({{cid}})
    document.getElementById("sidebar_main").classList.add('side_bar_active')
</script>
{% endblock %}

