# Ignore all SQL
*.sql
# No xml in use - this is likely pycharm stuff.
*.xml
*.db
*.pyc
Dev_docs/*
.__pycharm__/*
__pycache__/*
modules/__pycache__/*
FudgeC2/Storage/ExportedCampaigns/*
.idea/*
scratch*
*-journal
log.txt
*.pem
*.key
*.crt
dev_notes.txt
FudgeC2/Storage/implant_resources/*
FudgeC2/Storage/campaign_downloads/*