{% extends "ImplantMain.html" %}
{% block main2 %}

<div class="m-0 p-3">
    <h4>Existing Implants & Stagers: {{ campaign }}</h4>
    <p>This is currently a placeholder page which will show command frequency</p>
<canvas id="myChart" width="400" height="200"></canvas>
<script>
function get_implant_data (){
    $.ajax({
            url:"/{{cid}}/Graphs",
            type:"POST",
            success: function (response) {
                console.log("++"+response+"++")
                }});
    a = {
        labels:['a','b','c','d','e','f','g','h'],
        datasets: [{
        label:'example_1',
        backgroundcolor:'#098765',
        bordercolor:'#000011',
        data: [11,2,3,7,5,6]
        }],
    }
    return a
}
options = {
    responsive: true,
    title:{
        text: "Campaign: {{ campaign }} communication history",
        display: true,
        },
     scales:{
        xAxes: [{display:true,scaleLabel:{display:true,labelString:'time'}}],
        yAxes: [{display:true,scaleLabel:{display:true,labelString:'cmd frequency'}}]
        }

    }

data = get_implant_data()
var ctx = document.getElementById("myChart").getContext('2d');
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
});
</script>
</div>
{% endblock %}

