{% extends "ImplantMain.html" %}
{% block main2 %}
<div class="row">
    <div class="col-md-1">
        <div>imp crte</div>
        <div id="imp_crte"></div>
    </div>
    <div class="col-md-6">
        <div>cmd reg</div>
        <div id="cmd_reg"></div>
    </div>
    <div class="col-md-1">
        <div>cmd pickup</div>
        <div id="cmd_pickup"></div>
    </div>
    <div class="col-md-1">
        <div>cmd resp</div>
        <div id="cmd_resp"></div>
    </div>
</div>
<script>
function render_campaign_data(){
    $.ajax({
        url:"/{{ cid }}/logs",
        type:"POST",
        success: function (response) {

            for (subitem in response['implants']){
                //document.getElementById('cmd_reg');
                a = response['implants'][subitem]
                console.log(a)
            }
            for (sb_1 in response['commands']){
                console.log(sb_1);
                //b = response['commands'][sb_1]['time'];
                GG = document.getElementById('cmd_reg');
                WP = "<p>Name:"+response['commands'][sb_1]['uik']+"<br>Cmd: "+response['commands'][sb_1]['log_entry']+"<br>Time: "+response['commands'][sb_1]['time']+"</p><hr>";
                //console.log(b)
                document.getElementById('cmd_reg').innerHTML = document.getElementById('cmd_reg').innerHTML + WP;
            }
        }
    })
}

function unix_to_human_time(unixtime){

var foo = new Date;
var unixTimestamp = parseInt(unixtime);
var unixTimeToDate = new Date(unixTimestamp * 1000);
return unixTimeToDate
}

function render_campaign_data_list(){
    $.ajax({
        url:"/{{ cid }}/logs",
        type:"POST",
        success: function (response) {

            for (item in response){
                ToWrite = ""
                if (response[item]['event'] === "new_imp") {
                    ToWrite = "<br> New implant activated<br>Common Name: "+response[item]['generated_title']+"<br>Description: "+response[item]['description']+"<br>Time: "+unix_to_human_time(response[item]['lo-time'])+"<hr>"
                } else if (response[item]['event'] === "cmd_reg") {
                    ToWrite = "<br>New command reg<br>Implant: "+response[item]['uik']+"<br>Cmd Registered: "+response[item]['log_entry']+"<br>Time: "+unix_to_human_time(response[item]['lo-time'])+"<hr>"
                } else if (response[item]['event'] === "imp_read") {
                    ToWrite = "<br>Command read by Implant<br>Implant: "+response[item]['uik']+"<br>Cmd Registered: "+response[item]['log_entry']+"<br>Time: "+unix_to_human_time(response[item]['lo-time'])+"<hr>"
                } else if (response[item]['event'] === "response"){
                    ToWrite = "<br>Command Response<br>Implant: "+response[item]['uik']+"<br>Response: "+response[item]['log_entry']+"<br>Time: "+unix_to_human_time(response[item]['lo-time'])+"<hr>"
                }

                document.getElementById('cmd_reg').innerHTML = document.getElementById('cmd_reg').innerHTML + ToWrite;

            }
        }
    })
}

render_campaign_data_list()
</script>
{% endblock %}

