{% extends "BaseNavbar.html" %}
{% block main %}
<div class="row m-0">
    <div class="col-md-2 m-0 p-2">
        <div class="p-3 m-0 rounded iplm ">
            Help Overview
        </div>
    </div>
    <div class="col-md-10 m-0 p-2">
        <div class="p-3 m-0 rounded iplm  ">
            <h1>Help</h1>

            <h2>Configuration</h2>
            <h4>User Account</h4>
            <h5>Add user</h5>
            <p>Adding a user account can be done by any admin in the global settings:
            /settings</p>

            Configure campaign users
            http://fudge.moozle.wtf:5001/1/settings
            Password Reset
            Global settings <b>IN DEVELOPMENT</b>
            <h2>Built in commands</h2>
            <p>Active implants have a number of builtin commands designed to perform common actions, and harvest host information.<br>
            below is the list of current implant commands:</p>
            <code>:: sys_info</code>
            <p> Sys_info: Collects username and hostname</p>
            <code>:: network_info</code>
            <p>Collects network information including domain, hostname, ip address, active network services.</p>

        </div>
    </div>
</div>
{% endblock %}