{% extends "BaseNavbar.html" %}
{% block main %}
<div class="row justify-content-md-center m-4">
    <div class="col-md-6 bg-white m-4 p-4">
        <h3>Welcome to Fudge</h3>
        <p>Start by creating a new campaign, and allocating access to any other team members.</p>
        <p>To generate an implant select the desired campaign and select 'New Implant', configuring the required fields.</p>

        <h5>Further info</h5>
        <p>
            Campaign are broken down into 3 functional areas, implants templates, and stagers, and active listeners.
            An implant template is responsible for creating the base information such as:
        </p>
        <ul>
            <li>Common name</li>
            <li>Callback URL</li>
            <li>Communication channels</li>
            <li>Beacon and inital communication delays</li>
        </ul>
        <p>
            After an implant template has been created Fudge will automatically generate stagers which can be used to gain initial access.
        </p>
        <ul>
            <li>A stager can be used numerous times, once a stager communicates with the C2 server a the full implant will be delivered.</li>
            <li>Each implant that is delivered will generate it's own unique implant reference.</li>
        </ul>
        <p>
            Once an implant call been deployed it will be given a unique common name based on the implant templates common name. It can now be interacted with as the full implant using the campaign main page. Once a common has been registered with Fudge it will await pick up from the implant the next time it beacons back. Each new common will add to the queue.
        </p>
        <p>
            When a common returns data to the C2 it will be timestamped based on the time C2 server receives the information.
        </p>
        <p>For full documentation see the README file, or visit the GitHub page: <a href="https://github.com/Ziconius/Fudge" target="_blank">https://github.com/Ziconius/Fudge</a></p>
        <p>Gl;Hf.</p>
    </div>
</div>
{% endblock %}