{% extends "ImplantMain.html" %}
{% block main2 %}
<div class="m-0 p-3">
    <h4>Existing Implants & Stagers</h4>
    {% if implantList %}
        {% for implant in implantList %}
    <p><span class="font-weight-bold">Name:</span> {{ implant }}<br>
        <span class="font-weight-bold">Description:</span> {{ implantList[implant].description  }}<br>
        <span class="font-weight-bold">URL:</span> {{ implantList[implant].url }}</p>


            <div>
        <code>{{ implantList[implant].stager_string }}</code><br>
        <form method="POST" action="/1/implant/stagers">
            <button type="submit">Download</button>
        </form>
    </div><hr>
        {% endfor %}
    {% else %}
        <p>There are no implant associated with this campaign yet.</p>
    {% endif %}


</div>
{% endblock %}