body {
    background-color: #035371;
    padding:0px;
}

body {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Archivo', sans-serif;
 font-weight: 500;
}

.iplm {
     background-color: #f5f3f3;
     background-color: #FDFDFD;
}
