body {
    background-color: #669AD5;
    padding:0px;
}

body {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Archivo', sans-serif;
 font-weight: 500;
}

.iplm {
     background-color: #f5f3f3;
     background-color: #FDFDFD;
}

/*
Search filters CSS
*/
.results tr[visible='false'],
.no-result{ display:none; }
.results tr[visible='true']{ display:table-row; }

.modal-full {
    min-width: 85%;
    margin-left: auto;
}

.modal-full .modal-content {
    min-height: 100vh;
}