{% extends "ImplantMain.html" %}
{% block main2 %}
<div class="row justify-content-md-center m-4">
    <div class="col-lg-4 rounded p-3">

    <form id="Login" method="POST" action="create" name="CI">
        <div class="form-group">Implant Title
            <input type="text" class="form-control" id="title" name="title" placeholder="Implant common name">
        </div>
        <div class="form-group">Implant URL
            <input type="text" class="form-control" id="url" name="url" placeholder="Callback URL">
        </div>
        <div class="form-group">Implant Description
            <input type="text" class="form-control" name="description" id="description" placeholder="Description">
        </div>

        <button type="submit" name="CreateImplant" class="btn btn-primary" id="ImplantButton">Create Implant</button>

    </form>

    </div>
    {% if error %}<div class="text-danger font-weight-bold">{{error}}</div>{% endif %}
</div>
{% endblock %}