{% extends "ImplantMain.html" %}
{% block main2 %}

<div class="row">
    <div class="col-lg-3">
    <form action="/cmd/{{ cid }}" method="POST" role="form" class="form-horizontal" id="AnswerForm">
        <!--<fieldset>-->
        <!--<legend>Command Input</legend>-->
            <!--&lt;!&ndash;<label for="comment">Implant Command:</label>&ndash;&gt;-->


<!-- TODO: insert Implants into selectable. -->
            <div class="form-group">
              <label for="sel1">Select list:</label>
              <select class="form-control" id="sel1" name="ImplantSelect">
                  {% if Implants %}
                  <option name="a" id="b">ALL</option>
                  {% for imp in Implants %}
                        <option name="{{ imp.unique_implant_id }}" id="{{ imp.unique_implant_id }}">{{ imp.generated_title }}</option>
                  {% endfor %}
                  {% endif %}
              </select>
            </div>

            <div class="form-group" >
                <label class="control-label">Implant Command:</label>
                <input onfocus="this.placeholder=''" type="text" name="cmd" class="form-control" id="implantCmd" placeholder="cmd">
            </div>
        </fieldset>
            <button type="submit" class="btn btn-default" id="AnswerBtn">Submit</button>
    </form>
    </div>

    <div class="col-lg-6" id="Response"></div>
    <div class="col-lg-2" id="ImplantStatus">
        Implant Check in:
        <div class="" id="ImplantStatusValues">
        {% if Implants %}
            {% for implant in Implants %}
                <p>{{ implant.generated_title}}: {{ implant.last_check_in }}</p><br>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='ImplantController.js') }}"></script>
<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
<!--localStorage.setItem("ImplantRecord",[])-->
var contained_list=[];
async function get_command_response (){
    console.log("~~"+contained_list)
    while(true){
    $.ajax({
        url:"/aab/{{cid}}",
        type:"GET",
        success: function (response) {
            // Get list of responses
            console.log("++"+response+"++")
            for (element in response){
                console.log("~~"+response[element].log_id)
                <!-- Check for the log_id existing, if it doesn't add to list and write to top of page to remove weird loading page-->
                if( contained_list.includes(response[element].log_id)){
                    console.log('LOL');
                    }
                else{
                    console.log(1);
                 contained_list.push(response[element].log_id)
                 var pageContainer = document.getElementById('Response')
                 pageContainer = response[element].log_id+ pageContainer;
                 var GG = response[element].log_id;
                 var utcSeconds = response[element].time;
                 var d = new Date(0); // The 0 there is the key, which sets the date to the epoch
                 d.setUTCSeconds(utcSeconds);
                 console.log(response[element])
                 GG = "<div class=''><p>IID: "+response[element].title+"<br>Time: "+d+"<br>Rsp: <code>"+response[element].log_entry+"</code></p></div><hr>"
                 var WP = document.getElementById('Response').innerHTML
                 document.getElementById('Response').innerHTML = GG+WP;
                 }
               }
            console.log(contained_list)
            }
    })
    await sleep(10000);
    }
}
get_command_response()
$(function() {
    $('#AnswerBtn').on('click', function (e) {
        e.preventDefault(); // disable the default form submit event


        var $form = $('#AnswerForm');
        console.log($form.serialize())
        $.ajax({
            url: $form.attr("action"),
            type: $form.attr("method"),
            data: $form.serialize(),
            success: function (response) {
                // if response
                //alert('response received');
                console.log("++"+response+"++")
                //document.getElementById('Response').innerHTML =(response['msg']);
                // ajax success callback
                console.log("@@@"+document.getElementById('implantCmd').innerHTML)
                document.getElementById('implantCmd').value="";
            },
            error: function (response) {
                alert('ajax failed');
                // ajax error callback
            },

        });
        //document.getElementById('comment').innerHTML=("");//
    });
});
Get_ImplantCallback ({{cid}})
</script>
{% endblock %}

