{% extends "ImplantMain.html" %}
{% block main2 %}

<div class="row">
    <div class="col-lg-3">
    <form action="/{{ cid }}/implant/cmd" method="POST" role="form" class="form-horizontal" id="AnswerForm">
        <fieldset>
        <legend>Command Input</legend>
            <!--<label for="comment">Implant Command:</label>-->
            <div class="form-group" >
                <label class="control-label">Implant Command:</label>
                <input type="text" name="cmd" class="form-control" id="implantCmd" placeholder="cmd">
            </div>
        </fieldset>
            <button type="submit" class="btn btn-default" id="AnswerBtn">Submit</button>
    </form>
    </div>

    <div class="col-lg-3" id="Response">Response:</div>
</div>
<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function get_command_response (){
    while(true){
    $.ajax({
        url:"/aab",
        type:"GET",
        success: function (response) {
            console.log("++"+response+"++")
            document.getElementById('Response').innerHTML =(response);

            }

    })
    await sleep(7000);
    }
}
get_command_response()
$(function() {
    $('#AnswerBtn').on('click', function (e) {
        e.preventDefault(); // disable the default form submit event


        var $form = $('#AnswerForm');
        console.log($form.serialize())
        $.ajax({
            url: $form.attr("action"),
            type: $form.attr("method"),
            data: $form.serialize(),
            success: function (response) {
                // if response
                //alert('response received');
                console.log("++"+response+"++")
                document.getElementById('Response').innerHTML =(response['msg']);
                // ajax success callback
            },
            error: function (response) {
                alert('ajax failed');
                // ajax error callback
            },
        });
        document.getElementById('comment').innerHTML=("");
    });
});
</script>
{% endblock %}

