{% extends "ImplantMain.html" %}
{% block main2 %}
<div class="m-0 p-3">
    <h4>Active Implant Information: {{ campaign }}</h4>
    <p class="text-warning">Dev note: This is an early work in process to allow users to review all data collected by an active implant.</p>

    {% if imp %}
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Active Implant
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for x in imp %}
            <a class="dropdown-item" href="/{{ cid }}/implant/active/{{ x.unique_implant_id }}" name="{{ x.unique_implant_id }}">{{ x.generated_title }}</a>
          {% endfor %}
      </div>
    </div>
    {% else %}
    <p> No active implants found. Weaponize stagers to create a new active implant.</p>
    {% endif%}
    {% if render %}
    <br>
    <p class="font-weight-bold">Implant details</p>
    <div class="col-md-6">
        <table class="table">

              <tbody>
                <tr>
                    <td>Generated Title</td>
                    <td>{{ render.generated_title }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ render.description }}</td>
                </tr>
                <tr>
                    <td>Kill date</td>
                    <td>{{ render.kill_date }}</td>
                </tr>
                <tr>
                    <td>Callback URL</td>
                    <td><code>{{ render.callback_url }}</code></td>
                </tr>
                <tr>
                    <td>Initial callback delay</td>
                    <td>{{ render.initial_delay }}</td>
                </tr>
                <tr>
                    <td>Obfuscation level</td>
                    <td>{{ render.obfuscation_level }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="font-weight-bold">Implant code</p>
    <pre class="pre-scrollable bg-dark text-light p-3"><code>{{ render.implant_copy }}</code></pre>
    {% endif %}
</div>
{% endblock %}

