body {
    font-family: 'Ubuntu', sans-serif;
    background-image:url("/static/bg.jpeg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding:0px;
    }

.iplm {
     background-color: #f5f3f3;

}
