{% extends "HeaderTemplate.html" %}
{% block NavbarBlock %}
<body id="PasswordReset">
<div class="container">
<div class="login-form form-rounded">
<div class="main-div">
    <div class="panel">
   <h2>Fudge</h2>
   <p>Password Reset</p>
   </div>
    <form id="Login" method="POST" action="passwordreset">
        <div class="form-group">
            <input type="password" autocomplete="current-password" class="form-control" id="old_pw" name="current_password" placeholder="Current password">
        </div>
        <div class="form-group">
            <input type="password" autocomplete="new-password" class="form-control" id="new_pw_1" name="password_one" placeholder="New password">
        </div>
        <div class="form-group">
            <input type="password" autocomplete="new-password" class="form-control" name="password_two" id="new_pw_2" placeholder="Confirm new password">
        </div>
        <button type="submit" class="btn btn-primary" name="id" value="{{guid}}" id="btn2">Reset</button>
        {% if error %} <div class="text-danger font-weight-bold"><br><p>{{ error }}</p></div>{% endif %}
    </form>
    </div>
</div></div>
</body>

{% endblock %}